<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{.host}}/static/goaly/css/mdb.dark.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{.host}}/static/goaly/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="{{.host}}/static/goaly/css/style.css">
  <title>Goaly</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
  <div class="box mx-auto">
    <div class="page-status w-75 mx-auto">
      <div class="text-center">
        <div class="page-status-icon text-success">
          <span class="bi bi-check-circle-fill"></span>
        </div>
        <p class="title">Congratulation!</p>
        <p>Please put some success messages here.</p>
      </div>
    </div>
  </div>
</body>

</html>