<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{.host}}/static/goaly/css/mdb.dark.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{.host}}/static/goaly/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="{{.host}}/static/goaly/css/style.css">
  <title>Unsub</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>


<body>
  <div class="box mx-auto">
    <div class="banner">
      <img src="{{.host}}/static/goaly/img/banner.jpg" class="img-fluid" alt="Banner">
    </div>
  </div>
  <section class="section" style="background-position-y: 215px;">
    <div class="container-fluid box">
      <div class="card mb-3" style="margin-top: calc(-24px * 2);" id="content">
        <div class="card-body p-2">
          <a href="#" id="unsubscribe" class="btn btn-lg w-100 button">Unsubscribe</a>
        </div>
      </div>
      <div class="introduction">
        <p>Goaly adalah platform untuk penggemar sepak bola. Bergabung untuk main game tebak skor yang seru dan dapatkan
          update terbaru dari tim favoritmu!</p>
      </div>
    </div>
  </section>
  <div class="footer">
    <div class="container-fluid box">
      <div class="term">
        <p class="mb-2">Goaly adalah layanan berlangganan. Anda akan dikenakan biaya Rp 1.000/hari pada tagihan ponsel
          Anda dan akan memperbarui langganan Anda secara otomatis.</p>
        <p class="mb-0">Dengan klik tombol, Anda telah setuju dengan <a href="/term">Syarat dan Ketentuan</a></p>
      </div>
      <hr>
      <p class="m-0 text-center">Goaly 2023, All right reserved</p>
    </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{.host}}/static/goaly/js/swiper-bundle.min.js"></script>

    <script>
      $(document).ready(function () {

        var ip = "";
        $.getJSON("https://api.ipify.org/?format=json", function (e) {
          ip = e.ip;
        });

        $('#unsubscribe').click(function (event) {
          $('#loading').show();
          // disable button
          $("#unsubscribe").attr("disabled", true);
          event.preventDefault();

          // $.ajax({
          //   type: 'POST',
          //   url: '/goaly',
          //   data: JSON.stringify({
          //     service: "GOALY",
          //     adnet: "",
          //     pubid: "",
          //     aff_sub: "",
          //   }),
          //   dataType: 'json',
          //   contentType: "application/json; charset=utf-8",
          //   success: function (json) {
          //     if (json.error == false) {
          //       window.location.href = json.redirect;
          //     }
          //     $('#loading').hide();
          //   },
          //   error: function () {
          //     // enable button
          //     $("#unsubscribe").removeAttr("disabled");
          //     $('#loading').hide();
          //   }
          // });

        })
      })
    </script>

    <script>
      const sliderHowTo = new Swiper('#sliderHowTo', {
        direction: 'horizontal',
        loop: false,
        slidesPerView: 'auto',
        centeredSlides: false,
        spaceBetween: 15,
        pagination: {
          el: '.swiper-pagination',
        }
      });

      sliderHowTo;

      $(".sliding-link").click(function (e) {
        e.preventDefault();
        var id = $(this).attr("href");
        $('html,body').animate({ scrollTop: $(id).offset().top - 10 }, 'slow');
      });
    </script>


</body>

</html>